<div class="py-6 px-4">
    <h1
      class="text-2xl md:text-4xl font-bold bg-gradient-to-r from-[#F29724] via-[#ca1023c4] to-[#c90519] bg-clip-text text-transparent font-pacifico leading-14"
    >
      Learn, Cook, Eat Your Food
    </h1>
    <ul class="sm:flex hidden mt-6 flex-wrap gap-x-6 gap-y-4 text-center">
      <li
        class="px-4 py-2 border border-gray-400 font-cursive shadow text-gray-500 font-medium rounded-full transition-all duration-300 hover:shadow-xl cursor-pointer"
        [class.bg-black]="activeCategory === 'All'"
        [class.text-white]="activeCategory === 'All'"
        [class.hover]="activeCategory !== 'All'"
        (click)="sendCategory('All')"
      >
        All
      </li>

      @for (item of mealsCategories; track $index) {
      <li
        class=" px-4 py-2 border border-gray-400 font-cursive shadow text-gray-500 font-medium rounded-full transition-all duration-300 hover:shadow-xl cursor-pointer"
        [class.bg-black]="activeCategory === item.strCategory"
        [class.text-white]="activeCategory === item.strCategory"
        [class.hover]="activeCategory !== item.strCategory"
        (click)="sendCategory(item.strCategory)"
      >
        {{ item.strCategory }}
      </li>
      }
    </ul>
    <select
      class="w-full px-4 py-2 bg-white border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-1 focus:ring-blue-50 focus:border-gray-500 appearance-none mt-6 sm:hidden"
      (change)="getCategory($event)"
    >
      <option value="All" selected>All</option>
      @for (item of mealsCategories; track $index) {
      <option
        [value]="item.strCategory"
        [defaultSelected]="activeCategory === item.strCategory"
      >
        {{ item.strCategory }}
      </option>
      }
    </select>
  </div>
