<section class="h-screen px-3 py-4 bg-gray-50">
  <img src="./images/logo.png" alt="recipe logo" class="w-full" />
  <nav>
    <ul class="text-center mt-6 font-cursive">
      <li
        class="mb-6 bg-[#f29724] shadow-lg shadow-orange-300 px-4 rounded-xl text-lg text-white hover:scale-105 hover:shadow-xl hover:shadow-orange-50 duration-300 cursor-pointer"
      >
        <a routerLink="meals" class="flex items-center p-2 font-semibold">
          <span class="me-3">
            <img
              src="./images/nav-icon.svg"
              alt="food dish"
              class="invert-100 w-4.5 h-4.5"
            />
          </span>
          Meals
        </a>
      </li>
      <li
        class="mb-4 border-2 border-gray-200 px-4 rounded-xl text-lg hover:scale-105 hover:shadow-xl hover:shadow-orange-50 duration-300 cursor-pointer"
      >
        <a class="flex items-center p-2 font-medium">
          <span class="me-3">
            <img
              src="./images/nav-icon.svg"
              alt="food dish"
              class="w-4.5 h-4.5"
            />
          </span>
          Ingredients
        </a>
      </li>
      <li
        class="mb-4 border-2 border-gray-200 px-4 rounded-xl text-lg hover:scale-105 hover:shadow-xl hover:shadow-orange-50 duration-300 cursor-pointer"
      >
        <a class="flex items-center p-2 font-medium">
          <span class="me-3">
            <img
              src="./images/nav-icon.svg"
              alt="food dish"
              class="w-4.5 h-4.5"
            />
          </span>
          Area
        </a>
      </li>
    </ul>
  </nav>
</section>
